<ng-container *ngIf="launchDetails$ | async as launchDetails">
  <section>
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ launchDetails.mission_name }}</mat-card-title>
      </mat-card-header>
      <mat-card-content>
        <p>{{ launchDetails.details }}</p>
      </mat-card-content>
      <mat-card-footer class='button-container'>
        <a *ngIf="launchDetails.links.video_link"
          mat-icon-button color="primary" 
          href="{{ launchDetails.links.video_link }}"
          title="View the launch footage on YouTube">
          <fa-icon [icon]="faYoutube" transform="grow-30"></fa-icon>
        </a>
        <a *ngIf="launchDetails.links.article_link"
          mat-icon-button color="primary" 
          href="{{ launchDetails.links.article_link }}"
          title="View the related article covering the launch">
          <fa-icon [icon]="faNewspaper" transform="grow-30"></fa-icon>
        </a>
      </mat-card-footer>
    </mat-card>
  </section>
  <section class="photo-grid" *ngIf="launchDetails.links.flickr_images.length > 0">
    <img
      *ngFor="let pic of launchDetails.links.flickr_images"
      [src]="pic"
      alt="Picture of {{ launchDetails.mission_name }}"
      height="300"
      width="300"
      loading="lazy"
    />
  </section>
</ng-container>
