<div class="container">
  <h1>SpaceX GraphQL Viewer</h1>
  <p>This is a personal project I created to help me learn GraphQL/Apollo and Firebase hosting.</p>
  <p>
    By clicking on the two buttons on the navbar,
    you can switch between viewing past SpaceX launches and any future launches.
    Clicking on an entry in the past launches tab will take you to a details page,
    but this is not implemented for future launches.
  </p>
  <p>
    I chose this API since it was clean and easy to use, plus I recently started following the
    innovations of Elon Musk's companies.
    The data is publicly available via <a href="https://api.spacex.land/graphql/">this API</a>,
    but please not I am not affiated with SpaceX in any capacity. This was just for fun and educational purposes only.
  </p>
</div>
