<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav"
      fixedInViewport="true"
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    <mat-toolbar>Views</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item [routerLink]="'/'" [routerLinkActive]="['is-active']" [routerLinkActiveOptions]="{ exact: true }">Project Details</a>
      <a mat-list-item [routerLink]="'/launches/past'" [routerLinkActive]="['is-active']" >Past Launches</a>
      <a mat-list-item [routerLink]="'/launches/future'" [routerLinkActive]="['is-active']">Future Launches</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <fa-icon [icon]="faBars" ></fa-icon>
      </button>
      <h1>SpaceX Launch Viewer</h1>
    </mat-toolbar>
    <div (click)="drawer.close()">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
